@inherits MiniRazor.MiniRazorTemplateBase<DiscordChatExporter.Domain.Exporting.Writers.Html.LayoutTemplateContext>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported @Model.MessageCount.ToString("N0") message(s)</div>
</div>

</body>
</html>