body {
    background-color: #36393E;
    color: rgba(255, 255, 255, 0.7);
}

a {
    color: #0096CF;
}

div.pre {
    background-color: #2F3136;
    color: rgb(131, 148, 150);
}

span.pre {
    background-color: #2F3136;
}

div.guild-name {
    color: #FFFFFF;
}

div.channel-name {
    color: #FFFFFF;
}

div.channel-topic {
    color: #FFFFFF;
}

div.msg {
    border-top: 1px solid rgba(255, 255, 255, 0.04);
}

span.msg-user {
    color: #FFFFFF;
}

span.msg-date {
    color: rgba(255, 255, 255, 0.2);
}

span.msg-edited {
    color: rgba(255, 255, 255, 0.2);
}

.embed-wrapper .embed-color-pill {
    background-color: #4f545c
}

.embed {
    background-color: rgba(46, 48, 54, .3);
    border-color: rgba(46, 48, 54, .6)
}

.embed .embed-footer,
.embed .embed-provider {
    color: hsla(0, 0%, 100%, .6)
}

.embed .embed-author-name {
    color: #fff!important
}

.embed div.embed-title {
    color: #fff
}

.embed .embed-description,
.embed .embed-fields {
    color: hsla(0, 0%, 100%, .6)
}

.embed .embed-fields .embed-field-name {
    color: #fff
}