.emoji {
    -o-object-fit: contain;
    object-fit: contain;
    width: 22px;
    height: 22px;
    margin: 0 .05em 0 .1em!important;
    vertical-align: -.4em
}

.emoji.jumboable {
    width: 32px;
    height: 32px
}

.image {
    display: inline-block;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

.embed,
.embed-wrapper {
    display: -webkit-box;
    display: -ms-flexbox
}

.embed-wrapper {
    position: relative;
    margin-top: 5px;
    max-width: 520px;
    display: flex
}

.embed-wrapper .embed-color-pill {
    width: 4px;
    background: #cacbce;
    border-radius: 3px 0 0 3px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.embed {
    padding: 8px 10px;
    box-sizing: border-box;
    background: hsla(0, 0%, 98%, .3);
    border: 1px solid hsla(0, 0%, 80%, .3);
    border-radius: 0 3px 3px 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.embed .embed-content,
.embed.embed-rich {
    display: -webkit-box;
    display: -ms-flexbox
}

.embed .embed-fields,
.embed.embed-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal
}

.embed div.embed-title {
    color: #4f545c
}

.embed .embed-content {
    width: 100%;
    display: flex;
    margin-bottom: 10px
}

.embed .embed-content .embed-content-inner {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.embed.embed-rich {
    position: relative;
    display: flex;
    border-radius: 0 3px 3px 0
}

.embed.embed-rich .embed-rich-thumb {
    max-height: 80px;
    max-width: 80px;
    border-radius: 3px;
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 20px
}

.embed.embed-inline {
    padding: 0;
    margin: 4px 0;
    border-radius: 3px
}

.embed .image,
.embed video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    border-radius: 2px
}

.embed .embed-content-inner>:last-child,
.embed .embed-content:last-child,
.embed .embed-inner>:last-child,
.embed>:last-child {
    margin-bottom: 0!important
}

.embed .embed-provider {
    display: inline-block;
    color: #87909c;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 5px
}

.embed .embed-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px
}

.embed .embed-author-name,
.embed .embed-footer,
.embed .embed-title {
    display: inline-block;
    font-weight: 600
}

.embed .embed-author-name {
    font-size: 14px;
    color: #4f545c!important
}

.embed .embed-author-icon {
    margin-right: 9px;
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 50%
}

.embed .embed-footer {
    font-size: 12px;
    color: rgba(79, 83, 91, .6);
    letter-spacing: 0
}

.embed .embed-footer-icon {
    margin-right: 10px;
    height: 18px;
    width: 18px;
    -o-object-fit: contain;
    object-fit: contain;
    float: left;
    border-radius: 2.45px
}

.embed .embed-title {
    margin-bottom: 4px;
    font-size: 14px
}

.embed .embed-title+.embed-description {
    margin-top: -3px!important
}

.embed .embed-description {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgba(79, 83, 91, .9);
    letter-spacing: 0
}

.embed .embed-description.markup {
    white-space: pre-line;
    margin-top: 0!important;
    font-size: 14px!important;
    line-height: 16px!important
}

.embed .embed-description.markup pre {
    max-width: 100%!important
}

.embed .embed-fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #36393e;
    margin-top: -10px;
    margin-bottom: 10px
}

.embed .embed-fields .embed-field {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding-top: 10px;
    min-width: 100%;
    max-width: 506px
}

.embed .embed-fields .embed-field.embed-field-inline {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 150px;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

.embed .embed-fields .embed-field .embed-field-name {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 600
}

.embed .embed-fields .embed-field .embed-field-value {
    font-size: 14px;
    font-weight: 500
}

.embed .embed-thumbnail,
.embed .embed-thumbnail-gifv {
    position: relative;
    display: inline-block
}

.embed .embed-thumbnail {
    margin-bottom: 10px
}

.embed .embed-thumbnail img {
    margin: 0;
    max-width: 500px;
    max-height: 400px;
}

.comment>:last-child .embed {
    margin-bottom: auto
}