<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ Context.Guild.Name | HtmlEncode }} - {{ Context.Channel.Name | HtmlEncode }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style>{{ StyleSheet }}</style>
</head>
<body>
    
{{~ # Info }}
<div class="info">
    <div class="info__guild-icon-container">
        <img class="info__guild-icon" src="{{ Context.Guild.IconUrl }}" />
    </div>
    <div class="info__metadata">
        <div class="info__guild-name">{{ Context.Guild.Name | HtmlEncode }}</div>
        <div class="info__channel-name">{{ Context.Channel.Name | HtmlEncode }}</div>
        <div class="info__channel-topic">{{ Context.Channel.Topic | HtmlEncode }}</div>
        <div class="info__channel-message-count">{{ TotalMessageCount | Format "N0" }} messages</div>
    </div>
</div>

{{~ # Log }}
<div class="chatlog">
    {{ for group in MessageGroups }}
        <div class="chatlog__message-group">
            {{~ # Avatar }}
            <div class="chatlog__author-avatar-container">
                <img class="chatlog__author-avatar" src="{{ group.Author.AvatarUrl }}" />
            </div>
            {{~ # Author name and timestamp }}
            <div class="chatlog__messages">
                <span class="chatlog__author-name" title="{{ group.Author.FullName | HtmlEncode }}">{{ group.Author.Name | HtmlEncode }}</span>
                <span class="chatlog__timestamp">{{ group.Timestamp | FormatDate | HtmlEncode }}</span>

                {{~ # Messages }}
                {{ for message in group.Messages }}
                    {{~ # Content }}
                    {{ if message.Content }}
                        <div class="chatlog__content">
                            {{ message.Content | FormatContent }}

                            {{~ # Edited timestamp }}
                            {{ if message.EditedTimestamp }}
                                <span class="chatlog__edited-timestamp" title="{{ message.EditedTimestamp | FormatDate | HtmlEncode }}">(edited)</span>
                            {{ end }}
                        </div>
                    {{ end }}

                    {{~ # Attachments }}
                    {{ for attachment in message.Attachments }}
                        <div class="chatlog__attachment">
                            <a href="{{ attachment.Url }}">
                                {{~ # Image }}
                                {{ if attachment.IsImage }}
                                    <img class="chatlog__attachment-thumbnail" src="{{ attachment.Url }}" />
                                {{~ # Non-image }}
                                {{ else }}
                                    Attachment: {{ attachment.FileName }} ({{ attachment.FileSize | FormatFileSize }})
                                {{ end }}
                            </a>
                        </div>
                    {{ end }}

                    {{~ # Embeds }}
                    {{ for embed in message.Embeds }}
                        <div class="chatlog__embed">
                            <div class="chatlog__embed-color-pill" style="background-color: rgba({{ embed.Color | FormatColor }})"></div>
                            <div class="chatlog__embed-content-container">
                                <div class="chatlog__embed-content">
                                    <div class="chatlog__embed-text">
                                        {{~ # Author }}
                                        {{ if embed.Author }}
                                            <div class="chatlog__embed-author">
                                                {{ if embed.Author.IconUrl }}
                                                    <img class="chatlog__embed-author-icon" src="{{ embed.Author.IconUrl }}" />
                                                {{ end }}
                                                {{ if embed.Author.Name }}
                                                    <span class="chatlog__embed-author-name">
                                                        {{ if embed.Author.Url }}
                                                            <a class="chatlog__embed-author-name-link" href="{{ embed.Author.Url }}">{{ embed.Author.Name | HtmlEncode }}</a>
                                                        {{ else }}
                                                            {{ embed.Author.Name | HtmlEncode }}
                                                        {{ end }}
                                                    </span>
                                                {{ end }}
                                            </div>
                                        {{ end }}

                                        {{~ # Title }}
                                        {{ if embed.Title }}
                                            <div class="chatlog__embed-title">
                                                {{ if embed.Url }}
                                                    <a class="chatlog__embed-title-link" href="{{ embed.Url }}">{{ embed.Title | FormatContent }}</a>
                                                {{ else }}
                                                    {{ embed.Title | FormatContent }}
                                                {{ end }}
                                            </div>
                                        {{ end }}

                                        {{~ # Description }}
                                        {{ if embed.Description }}
                                            <div class="chatlog__embed-description">{{ embed.Description | FormatContent true }}</div>
                                        {{ end }}

                                        {{~ # Fields }}
                                        <div class="chatlog__embed-fields">
                                            {{ for field in embed.Fields }}
                                                <div class="chatlog__embed-field {{ if field.IsInline }} chatlog__embed-field--inline {{ end }}">
                                                    {{ if field.Name }}
                                                        <div class="chatlog__embed-field-name">{{ field.Name | FormatContent }}</div>
                                                    {{ end }}
                                                    {{ if field.Value }}
                                                        <div class="chatlog__embed-field-value">{{ field.Value | FormatContent true }}</div>
                                                    {{ end }}
                                                </div>
                                            {{ end }}
                                        </div>
                                    </div>

                                    {{~ # Thumbnail }}
                                    {{ if embed.Thumbnail }}
                                        <div class="chatlog__embed-thumbnail-container">
                                            <a class="chatlog__embed-thumbnail-link" href="{{ embed.Thumbnail.Url }}">
                                                <img class="chatlog__embed-thumbnail" src="{{ embed.Thumbnail.Url }}" />
                                            </a>
                                        </div>
                                    {{ end }}
                                </div>    

                                {{~ # Image }} 
                                {{ if embed.Image }}
                                    <div class="chatlog__embed-image-container">
                                        <a class="chatlog__embed-image-link" href="{{ embed.Image.Url }}">
                                            <img class="chatlog__embed-image" src="{{ embed.Image.Url }}" />
                                        </a>
                                    </div>
                                {{ end }}

                                {{~ # Footer }}
                                {{ if embed.Footer || embed.Timestamp }}
                                    <div class="chatlog__embed-footer">
                                        {{ if embed.Footer }}
                                            {{ if embed.Footer.Text && embed.Footer.IconUrl }}
                                                <img class="chatlog__embed-footer-icon" src="{{ embed.Footer.IconUrl }}" />
                                            {{ end }}
                                        {{ end }}
                                        
                                        <span class="chatlog__embed-footer-text">
                                            {{ if embed.Footer }}
                                                {{ if embed.Footer.Text }}
                                                    {{ embed.Footer.Text | HtmlEncode }}
                                                    {{ if embed.Timestamp }} • {{ end }}
                                                {{ end }}
                                            {{ end }}

                                            {{ if embed.Timestamp }}
                                                {{ embed.Timestamp | FormatDate | HtmlEncode }}
                                            {{ end }}
                                        </span>
                                    </div>
                                {{ end }}
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    {{ end }}
</div>

</body>
</html>