<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ Guild.Name | HtmlEncode }} - {{ Channel.Name | HtmlEncode }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style>{{ css }}</style>
</head>
<body>
    
{{~ # Info }}
<div id="info">
    <div class="info-left">
        <img class="guild-icon" src="{{ Guild.IconUrl }}" />
    </div>
    <div class="info-right">
        <div class="guild-name">{{ Guild.Name | HtmlEncode }}</div>
        <div class="channel-name">{{ Channel.Name | HtmlEncode }}</div>
        <div class="channel-topic">{{ Channel.Topic | HtmlEncode }}</div>
        <div class="channel-messagecount">{{ TotalMessageCount | Format "N0" }} messages</div>
    </div>
</div>

{{~ # Log }}
<div id="log">
    {{ for group in MessageGroups }}
        <div class="msg">
            {{~ # Avatar }}
            <div class="msg-left">
                <img class="msg-avatar" src="{{ group.Author.AvatarUrl }}" />
            </div>
            {{~ # Author name and timestamp }}
            <div class="msg-right">
                <span class="msg-user" title="{{ group.Author.FullName | HtmlEncode }}">{{ group.Author.Name | HtmlEncode }}</span>
                <span class="msg-date">{{ group.TimeStamp | FormatDate | HtmlEncode }}</span>

                {{~ # Messages }}
                {{ for message in group.Messages }}
                    {{~ # Content }}
                    {{ if message.Content }}
                        <div class="msg-content">
                            {{ message.Content | FormatContent }}

                            {{~ # Edited timestamp }}
                            {{ if message.EditedTimeStamp }}
                                <span class="msg-edited" title="{{ message.EditedTimeStamp | FormatDate | HtmlEncode }}">(edited)</span>
                            {{ end }}
                        </div>
                    {{ end }}

                    {{~ # Attachments }}
                    {{ for attachment in message.Attachments }}
                        <div class="msg-attachment">
                            <a href="{{ attachment.Url }}">
                                {{~ # Image }}
                                {{ if attachment.IsImage }}
                                    <img class="msg-attachment" src="{{ attachment.Url }}" />
                                {{~ # Non-image }}
                                {{ else }}
                                    Attachment: {{ attachment.FileName }} ({{ attachment.FileSize | FormatFileSize }})
                                {{ end }}
                            </a>
                        </div>
                    {{ end }}

                    {{~ # Embeds }}
                    {{ for embed in message.Embeds }}
                        <div class="accessory">
                            <div class="embed-wrapper">
                                <div class="embed-color-pill" style="background-color: rgba({{ embed.Color | FormatColor }})"></div>
                                <div class="embed embed-rich">
                                    <div class="embed-content">
                                        <div class="embed-content-inner">
                                            {{~ # Author }}
                                            {{ if embed.Author }}
                                                <div class="embed-author">
                                                    {{ if embed.Author.IconUrl }}
                                                        <img class="embed-author-icon" src="{{ embed.Author.IconUrl }}" role="presentation" />
                                                    {{ end }}
                                                    {{ if embed.Author.Name }}
                                                        {{ if embed.Author.Url }}
                                                            <a class="embed-author-name" target="_blank" rel="noreferrer" href="{{ embed.Author.Url }}">{{ embed.Author.Name | HtmlEncode }}</a>
                                                        {{ else }}
                                                            <span class="embed-author-name">{{ embed.Author.Name | HtmlEncode }}</span>
                                                        {{ end }}
                                                    {{ end }}
                                                </div>
                                            {{ end }}

                                            {{~ # Title }}
                                            {{ if embed.Title }}
                                                {{ if embed.Url }}
                                                    <a class="embed-title" target="_blank" rel="noreferrer" href="{{ embed.Url }}">{{ embed.Title | FormatContent }}</a>
                                                {{ else }}
                                                    <div class="embed-title">{{ embed.Title | FormatContent }}</div>
                                                {{ end }}
                                            {{ end }}

                                            {{~ # Description }}
                                            {{ if embed.Description }}
                                                <div class="embed-description markup">{{ embed.Description | FormatContent true }}</div>
                                            {{ end }}

                                            {{~ # Fields }}
                                            <div class="embed-fields">
                                                {{ for field in embed.Fields }}
                                                    <div class="embed-field {{ if field.IsInline }} embed-field-inline {{ end }}">
                                                        {{ if field.Name }}
                                                            <div class="embed-field-name">{{ field.Name | FormatContent }}</div>
                                                        {{ end }}
                                                        {{ if field.Value }}
                                                            <div class="embed-field-value markup">{{ field.Value | FormatContent true }}</div>
                                                        {{ end }}
                                                    </div>
                                                {{ end }}
                                            </div>
                                        </div>

                                        {{~ # Thumbnail }}
                                        {{ if embed.Thumbnail }}
                                            <img class="embed-rich-thumb" src="{{ embed.Thumbnail.Url }}" role="presentation" style="max-width: 80px; max-height: 80px" />
                                        {{ end }}
                                    </div>    

                                    {{~ # Image }} 
                                    {{ if embed.Image }}
                                        <a class="embed-thumbnail embed-thumbnail-rich">
                                            <img class="image" role="presentation" src="{{ embed.Image.Url }}" />
                                        </a>
                                    {{ end }}

                                    {{~ # Footer }}
                                    {{ if embed.Footer }}
                                        <div>
                                            {{ if embed.Footer.Text && embed.Footer.IconUrl }}
                                                <img class="embed-footer-icon" src="{{ embed.Footer.IconUrl }}" role="presentation" width="20" height="20" />
                                            {{ end }}
                                            
                                            <span class="embed-footer">{{ [embed.Footer.Text, embed.Footer.Timestamp] | array.compact | array.join "|" | HtmlEncode }}</span>
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    {{ end }}
</div>

</body>
</html>