/* === GENERAL === */

body {
    background-color: #36393e;
    color: #ffffffb3;
}

a {
    color: #0096cf;
}

.pre-multiline {
    background-color: #2F3136;
    color: #839496;
}

.pre-inline {
    background-color: #2f3136;
}

.mention {
    color: #7289da;
    background-color: #738bd71a;
}

/* === INFO === */

.info__guild-name {
    color: #ffffff;
}

.info__channel-name {
    color: #ffffff;
}

.info__channel-topic {
    color: #ffffff;
}

/* === CHATLOG === */

.chatlog__message-group {
    border-top: 1px solid #ffffff0a;
}

.chatlog__author-name {
    color: #ffffff;
}

.chatlog__timestamp {
    color: #ffffff33;
}

.chatlog__edited-timestamp {
    color: #ffffff33;
}

.chatlog__embed-content-container {
    background-color: #2e30364d;
    border: 1px solid #2e303699;
}

.chatlog__embed-author-name {
    color: #ffffff !important;
}

.chatlog__embed-title {
    color: #ffffff;
}

.chatlog__embed-description {
    color: #ffffff99;
}

.chatlog__embed-fields {
    color: #ffffff99;
}

.chatlog__embed-field-name {
    color: #ffffff;
}

.chatlog__embed-footer {
    color: #ffffff99;
}