/* === GENERAL === */

body {
    background-color: #36393e;
    color: #ffffffb3;
}

a {
    color: #0096cf;
}

.pre {
    background-color: #2f3136;
}

.pre--multiline {
    border-color: #282b30;
    color: #839496;
}

.mention {
    background-color: #738bd71a;
    color: #7289da;
}

/* === INFO === */

.info__guild-name {
    color: #ffffff;
}

.info__channel-name {
    color: #ffffff;
}

.info__channel-topic {
    color: #ffffff;
}

/* === CHATLOG === */

.chatlog__message-group {
    border-color: #ffffff0a;
}

.chatlog__author-name {
    color: #ffffff;
}

.chatlog__timestamp {
    color: #ffffff33;
}

.chatlog__edited-timestamp {
    color: #ffffff33;
}

.chatlog__embed-content-container {
    background-color: #2e30364d;
    border-color: #2e303699;
}

.chatlog__embed-author-name {
    color: #ffffff;
}

.chatlog__embed-author-name-link {
    color: #ffffff;
}

.chatlog__embed-title {
    color: #ffffff;
}

.chatlog__embed-description {
    color: #ffffff99;
}

.chatlog__embed-fields {
    color: #ffffff99;
}

.chatlog__embed-field-name {
    color: #ffffff;
}

.chatlog__embed-footer {
    color: #ffffff99;
}

.chatlog__reaction {
    background-color: #ffffff0a;
}

.chatlog__reaction-count {
    color: #ffffff4d;
}