body {
    background-color: #FFFFFF;
    color: #737F8D;
}

a {
    color: #00B0F4;
}

div.pre {
    background-color: #F9F9F9;
    color: rgb(101, 123, 131);
}

span.pre {
    background-color: #F9F9F9;
}

div.guild-name {
    color: #2F3136;
}

div.channel-name {
    color: #2F3136;
}

div.channel-topic {
    color: #2F3136;
}

div.msg {
    border-top: 1px solid #ECEEEF;
}

span.msg-user {
    color: #2F3136;
}

span.msg-date {
    color: #99AAB5;
}

span.msg-edited {
    color: #99AAB5;
}