/* === GENERAL === */

body {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pre-multiline {
    font-family: Consolas, Courier New, Courier, Monospace;
    margin-top: 4px;
    white-space: pre-wrap;
    padding: 8px;
}

.pre-inline {
    font-family: Consolas, Courier New, Courier, Monospace;
    padding-left: 2px;
    padding-right: 2px;
    white-space: pre-wrap;
}

.emoji {
    object-fit: contain;
    width: 24px;
    height: 24px;
    vertical-align: -.4em;
    margin: 0 .05em 0 .1em !important;
}

.emoji-jumboable {
    width: 32px;
    height: 32px;
}

.mention {
    font-weight: 600;
}

/* === INFO === */

.info {
    display: flex;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 100%;
}

.info__guild-icon-container {
    flex: 0;
}

.info__guild-icon {
    max-height: 64px;
    max-width: 64px;
}

.info__metadata {
    flex: 1;
    margin-left: 10px;
}

.info__guild-name {
    font-size: 1.4em;
}

.info__channel-name {
    font-size: 1.2em;
}

.info__channel-topic {
    margin-top: 2px;
}

.info__channel-message-count {
    margin-top: 2px;
}

/* === CHATLOG === */

.chatlog {
    max-width: 100%;
}

.chatlog__message-group {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.chatlog__author-avatar-container {
    flex: 0;
    width: 40px;
    height: 40px;
}

.chatlog__author-avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.chatlog__messages {
    flex: 1;
    margin-left: 20px;
    min-width: 50%;
}

.chatlog__author-name {
    font-size: 1em;
}

.chatlog__timestamp {
    font-size: .75em;
    margin-left: 5px;
}

.chatlog__content {
    font-size: .9375em;
    padding-top: 5px;
    word-wrap: break-word;
}

.chatlog__edited-timestamp {
    font-size: .8em;
    margin-left: 5px;
}

.chatlog__attachment {
    margin-bottom: 5px;
    margin-top: 5px;
}

.chatlog__attachment-thumbnail {
    max-height: 500px;
    max-width: 50%;
}

.chatlog__embed {
    position: relative;
    margin-top: 5px;
    max-width: 520px;
    display: flex;
}

.chatlog__embed-color-pill {
    width: 4px;
    border-radius: 3px 0 0 3px;
    flex-shrink: 0;
}

.chatlog__embed-content-container {
    box-sizing: border-box;
    border-radius: 0 3px 3px 0;
    flex-direction: column;
    position: relative;
    display: flex;
    padding: 8px 10px;
}

.chatlog__embed-content {
    width: 100%;
    display: flex;
}

.chatlog__embed-text {
    flex: 1;
}

.chatlog__embed-author {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.chatlog__embed-author-icon {
    margin-right: 9px;
    width: 20px;
    height: 20px;
    object-fit: contain;
    border-radius: 50%;
}

.chatlog__embed-author-name {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}

.chatlog__embed-title {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
}

.chatlog__embed-description {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 0;
    white-space: pre-line;
    margin-top: 0 !important;
    font-size: 14px !important;
    line-height: 16px !important;
}

.chatlog__embed-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -10px;
}

.chatlog__embed-field {
    flex: 0;
    padding-top: 10px;
    min-width: 100%;
    max-width: 506px;
}

.chatlog__embed-field--inline {
    flex: 1;
    min-width: 150px;
    flex-basis: auto;
}

.chatlog__embed-field-name {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 600;
}

.chatlog__embed-field-value {
    font-size: 14px;
    font-weight: 500;
}

.chatlog__embed-thumbnail {
    max-height: 80px;
    max-width: 80px;
    border-radius: 3px;
    width: auto;
    object-fit: contain;
    flex-shrink: 0;
    margin-left: 20px;
}

.chatlog__embed-image-link {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.chatlog__embed-image {
    max-width: 500px;
    max-height: 400px;
    margin: 0;
}

.chatlog__embed-footer {
    margin-top: 10px;
}

.chatlog__embed-footer-icon {
    margin-right: 10px;
    height: 18px;
    width: 18px;
    object-fit: contain;
    float: left;
    border-radius: 2.45px;
}

.chatlog__embed-footer-text {
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
}