<!-- https://github.com/Tyrrrz/DiscordChatExporter -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style></style>
</head>
<body>
    
<div id="info">
    <div class="info-left">
        <img class="guild-icon" src="{{ Guild.IconUrl }}" />
    </div>
    <div class="info-right">
        <div class="guild-name">{{ Guild.Name }}</div>
        <div class="channel-name">{{ Channel.Name }}</div>
        <div class="channel-topic">{{ Channel.Topic }}</div>
        <div class="channel-messagecount">{{ TotalMessageCount | math.format "N0" }} messages</div>
    </div>
</div>

<div id="log">
    {{ for group in MessageGroups }}
    <div class="msg">
        <div class="msg-left">
            <img class="msg-avatar" src="{{ group.Author.AvatarUrl }}" />
        </div>
        <div class="msg-right">
            <span class="msg-user" title="{{ group.Author.FullName }}">{{ group.Author.Name }}</span>
            <span class="msg-date">{{ group.TimeStamp | FormatDateTime }}</span>

            {{ for message in group.Messages }}
            {{ if message.Content != empty }}
            <div class="msg-content">
                {{ message | FormatMessageContent }}

                {{ if message.EditedTimeStamp != empty }}
                <span class="msg-edited" title="{{ message.EditedTimeStamp }}">(edited)</span>
                {{ end }}
            </div>
            {{ end }}

            {{ for attachment in message.Attachments }}
            <div class="msg-attachment">
                <a href="{{ attachment.Url }}">
                    {{ if attachment.IsImage }}
                    <img class="msg-attachment" src="{{ attachment.Url }}" />
                    {{ else }}
                    Attachment: {{ attachment.FileName }} ({{ attachment.FileSize | FormatFileSize }})
                    {{ end }}
                </a>
            </div>
            {{ end }}

            {{ for embed in message.Embeds }}

            {{ end }}

            {{ end }}
        </div>
    </div>
    {{ end }}
</div>

</body>
</html>