/* General */

body {
    background-color: #ffffff;
    color: #23262a;
    font-weight: 500;
}

a {
    color: #0068e0;
}

.spoiler-text {
    background-color: rgba(0, 0, 0, 0.1);
}

.spoiler--hidden .spoiler-text {
    background-color: #b9bbbe;
}

.spoiler--hidden:hover .spoiler-text {
    background-color: rgba(185, 187, 190, 0.8);
}

.quote {
    border-color: #c7ccd1;
}

.pre {
    background-color: #f9f9f9 !important;
}

.pre--multiline {
    border-color: #f3f3f3 !important;
    color: #657b83 !important;
}

/* Preamble */

.preamble__entry {
    color: #2f3136;
}

/* Chatlog */

.chatlog__message-group {
    border-color: #eceeef;
}

.chatlog__reference-symbol {
    border-color: #c7ccd1;
}

.chatlog__reference {
    color: #5f5f60;
}

.chatlog__reference-link {
    color: #5f5f60;
}

.chatlog__reference-link:hover {
    color: #2f3136;
}

.chatlog__reference-edited-timestamp {
    color: #747f8d;
}

.chatlog__author-name {
    font-weight: 600;
    color: #2f3136;
}

.chatlog__timestamp {
    color: #747f8d;
}

.chatlog__message--highlighted {
    background-color: rgba(114, 137, 218, 0.2) !important;
}

.chatlog__message--pinned {
    background-color: rgba(249, 168, 37, 0.05);
}

.chatlog__attachment-container {
    background-color: #f2f3f5;
    border-color: #ebedef;
}

.chatlog__edited-timestamp {
    color: #747f8d;
}

.chatlog__embed-color-pill--default {
    background-color: rgba(227, 229, 232, 1);
}

.chatlog__embed-content-container {
    background-color: rgba(249, 249, 249, 0.3);
    border-color: rgba(204, 204, 204, 0.3);
}

.chatlog__embed-author-name {
    color: #4f545c;
}

.chatlog__embed-author-name-link {
    color: #4f545c;
}

.chatlog__embed-title {
    color: #4f545c;
}

.chatlog__embed-description {
    color: #2e3338;
}

.chatlog__embed-field-name {
    color: #36393e;
}

.chatlog__embed-field-value {
    color: #2e3338;
}

.chatlog__embed-footer {
    color: #2e3338;
}

.chatlog__reaction {
    background-color: rgba(79, 84, 92, 0.06);
}

.chatlog__reaction-count {
    color: #747f8d;
}

/* Postamble */

.postamble {
    border-color: #eceeef;
}

.postamble__entry {
    color: #2f3136;
}