@using DiscordChatExporter.Core.Exporting.Writers.Html;

@namespace DiscordChatExporter.Core.Exporting.Writers.Html
@inherits MiniRazor.TemplateBase<PostambleTemplateContext>

@{/* Close elements opened by preamble */}
</div>
</body>
</html>
