@namespace DiscordChatExporter.Core.Exporting.Writers.Html
@inherits MiniRazor.TemplateBase<PostambleTemplateContext>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported @Model.MessagesWritten.ToString("N0") message(s)</div>
</div>

</body>

</html>