/* General */

body {
    background-color: #36393e;
    color: #dcddde;
}

a {
    color: #0096cf;
}

.spoiler {
    background-color: rgba(255, 255, 255, 0.1);
}

.spoiler--hidden {
    background-color: #202225;
}

.spoiler--hidden:hover {
    background-color: rgba(32,34,37,.8);
}

.quote {
    border-color: #4f545c;
}

.pre {
    background-color: #2f3136 !important;
}

.pre--multiline {
    border-color: #282b30 !important;
    color: #b9bbbe !important;
}

/* === Preamble === */

.preamble__entry {
    color: #ffffff;
}

/* Chatlog */

.chatlog__message-group {
    border-color: rgba(255, 255, 255, 0.1);
}

.chatlog__author-name {
    color: #ffffff;
}

.chatlog__timestamp {
    color: rgba(255, 255, 255, 0.2);
}

.chatlog__message--highlighted {
    background-color: rgba(114, 137, 218, 0.2) !important;
}

.chatlog__message--pinned {
    background-color: rgba(249, 168, 37, 0.05);
}

.chatlog__edited-timestamp {
    color: rgba(255, 255, 255, 0.2);
}

.chatlog__embed-color-pill--default {
    background-color: rgba(79, 84, 92, 1);
}

.chatlog__embed-content-container {
    background-color: rgba(46, 48, 54, 0.3);
    border-color: rgba(46, 48, 54, 0.6);
}

.chatlog__embed-author-name {
    color: #ffffff;
}

.chatlog__embed-author-name-link {
    color: #ffffff;
}

.chatlog__embed-title {
    color: #ffffff;
}

.chatlog__embed-description {
    color: rgba(255, 255, 255, 0.6);
}

.chatlog__embed-field-name {
    color: #ffffff;
}

.chatlog__embed-field-value {
    color: rgba(255, 255, 255, 0.6);
}

.chatlog__embed-footer {
    color: rgba(255, 255, 255, 0.6);
}

.chatlog__reaction {
    background-color: rgba(255, 255, 255, 0.05);
}

.chatlog__reaction-count {
    color: rgba(255, 255, 255, 0.3);
}

/* Postamble */

.postamble {
    border-color: rgba(255, 255, 255, 0.1);
}

.postamble__entry {
    color: #ffffff;
}