/* General */

@font-face {
    font-family: Whitney;
    src: url(https://discordapp.com/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff);
    font-weight: 300;
}

@font-face {
    font-family: Whitney;
    src: url(https://discordapp.com/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff);
    font-weight: 400;
}

@font-face {
    font-family: Whitney;
    src: url(https://discordapp.com/assets/3bdef1251a424500c1b3a78dea9b7e57.woff);
    font-weight: 500;
}

@font-face {
    font-family: Whitney;
    src: url(https://discordapp.com/assets/be0060dafb7a0e31d2a1ca17c0708636.woff);
    font-weight: 600;
}

@font-face {
    font-family: Whitney;
    src: url(https://discordapp.com/assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff);
    font-weight: 700;
}

body {
    font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    object-fit: contain;
}

.markdown {
    white-space: pre-wrap;
    line-height: 1.3;
    overflow-wrap: break-word;
}

.spoiler {
    border-radius: 3px;
}

.spoiler.hidden {
    cursor: pointer;
}

.spoiler.hidden .spoilerText {
    opacity: 0;
}

.quote {
    margin: 0.5em 0;
    padding-left: 0.6em;
    border-left: 4px solid;
    border-radius: 3px;
}

.pre {
    font-family: "Consolas", "Courier New", Courier, monospace;
}

.pre--multiline {
    margin-top: 0.25em;
    padding: 0.5em;
    border: 2px solid;
    border-radius: 5px;
}

.pre--inline {
    padding: 2px;
    border-radius: 3px;
    font-size: 0.85em;
}

.mention {
    border-radius: 3px;
    padding: 0 2px;
    color: #7289da;
    background: rgba(114, 137, 218, .1);
    font-weight: 500;
}

.emoji {
    width: 1.25em;
    height: 1.25em;
    margin: 0 0.06em;
    vertical-align: -0.4em;
}

.emoji--small {
    width: 1em;
    height: 1em;
}

.emoji--large {
    width: 2.8em;
    height: 2.8em;
}

/* Preamble */

.preamble {
    display: grid;
    margin: 0 0.3em 0.6em 0.3em;
    max-width: 100%;
    grid-template-columns: auto 1fr;
}

.preamble__guild-icon-container {
    grid-column: 1;
}

.preamble__guild-icon {
    max-width: 88px;
    max-height: 88px;
}

.preamble__entries-container {
    grid-column: 2;
    margin-left: 0.6em;
}

.preamble__entry {
    font-size: 1.4em;
}

.preamble__entry--small {
    font-size: 1em;
}

/* Chatlog */

.chatlog {
    max-width: 100%;
}

.chatlog__message-group {
    display: grid;
    margin: 0 0.6em;
    padding: 0.9em 0;
    border-top: 1px solid;
    grid-template-columns: auto 1fr;
}

.chatlog__author-avatar-container {
    grid-column: 1;
    width: 40px;
    height: 40px;
}

.chatlog__author-avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.chatlog__messages {
    grid-column: 2;
    margin-left: 1.2em;
    min-width: 50%;
}

.chatlog__author-name {
    font-weight: 500;
}

.chatlog__timestamp {
    margin-left: 0.3em;
    font-size: 0.75em;
}

.chatlog__message {
    padding: 0.1em 0.3em;
    margin: 0 -0.3em;
    background-color: transparent;
    transition: background-color 1s ease;
}

.chatlog__content {
    font-size: 0.95em;
    word-wrap: break-word;
}

.chatlog__edited-timestamp {
    margin-left: 0.15em;
    font-size: 0.8em;
}

.chatlog__attachment-thumbnail {
    margin-top: 0.3em;
    max-width: 50%;
    max-height: 500px;
    border-radius: 3px;
}

.chatlog__embed {
    display: flex;
    margin-top: 0.3em;
    max-width: 520px;
}

.chatlog__embed-color-pill {
    flex-shrink: 0;
    width: 0.25em;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.chatlog__embed-content-container {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.6em;
    border: 1px solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.chatlog__embed-content {
    display: flex;
    width: 100%;
}

.chatlog__embed-text {
    flex: 1;
}

.chatlog__embed-author {
    display: flex;
    margin-bottom: 0.3em;
    align-items: center;
}

.chatlog__embed-author-icon {
    margin-right: 0.5em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.chatlog__embed-author-name {
    font-size: 0.875em;
    font-weight: 600;
}

.chatlog__embed-title {
    margin-bottom: 0.2em;
    font-size: 0.875em;
    font-weight: 600;
}

.chatlog__embed-description {
    font-weight: 500;
    font-size: 0.85em;
}

.chatlog__embed-fields {
    display: flex;
    flex-wrap: wrap;
}

.chatlog__embed-field {
    flex: 0;
    min-width: 100%;
    max-width: 506px;
    padding-top: 0.6em;
    font-size: 0.875em;
}

.chatlog__embed-field--inline {
    flex: 1;
    flex-basis: auto;
    min-width: 150px;
}

.chatlog__embed-field-name {
    margin-bottom: 0.2em;
    font-weight: 600;
}

.chatlog__embed-field-value {
    font-weight: 500;
}

.chatlog__embed-thumbnail {
    flex: 0;
    margin-left: 1.2em;
    max-width: 80px;
    max-height: 80px;
    border-radius: 3px;
}

.chatlog__embed-image-container {
    margin-top: 0.6em;
}

.chatlog__embed-image {
    max-width: 500px;
    max-height: 400px;
    border-radius: 3px;
}

.chatlog__embed-footer {
    margin-top: 0.6em;
}

.chatlog__embed-footer-icon {
    margin-right: 0.2em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.chatlog__embed-footer-text {
    font-size: 0.75em;
    font-weight: 500;
}

.chatlog__reactions {
    display: flex;
}

.chatlog__reaction {
    display: flex;
    align-items: center;
    margin: 0.35em 0.1em 0.1em 0.1em;
    padding: 0.2em 0.35em;
    border-radius: 3px;
}

.chatlog__reaction-count {
    min-width: 9px;
    margin-left: 0.35em;
    font-size: 0.875em;
}

.chatlog__bot-tag {
    position: relative;
    top: -.2em;
    margin-left: 0.3em;
    padding: 0.05em 0.3em;
    border-radius: 3px;
    vertical-align: middle;
    line-height: 1.3;
    background: #7289da;
    color: #ffffff;
    font-size: 0.625em;
    font-weight: 500;
}

/* Postamble */

.postamble {
    margin: 1.4em 0.3em 0.6em 0.3em;
    padding: 1em;
    border-top: 1px solid;
}