/* === GENERAL === */

body {
    background-color: #ffffff;
    color: #747f8d;
}

a {
    color: #00b0f4;
}

.spoiler {
    background-color: rgba(0, 0, 0, 0.1);
}

.pre {
    background-color: #f9f9f9;
}

.pre--multiline {
    border-color: #f3f3f3;
    color: #657b83;
}

.mention {
    background-color: #f1f3fb;
    color: #7289da;
}

/* === INFO === */

.info__guild-name {
    color: #2f3136;
}

.info__channel-name {
    color: #2f3136;
}

.info__channel-topic {
    color: #2f3136;
}

/* === CHATLOG === */

.chatlog__message-group {
    border-color: #eceeef;
}

.chatlog__author-name {
    color: #2f3136;
}

.chatlog__timestamp {
    color: #99aab5;
}

.chatlog__edited-timestamp {
    color: #99aab5;
}

.chatlog__embed-content-container {
    background-color: rgba(249, 249, 249, 0.3);
    border-color: rgba(204, 204, 204, 0.3);
}

.chatlog__embed-author-name {
    color: #4f545c;
}

.chatlog__embed-author-name-link {
    color: #4f545c;
}

.chatlog__embed-title {
    color: #4f545c;
}

.chatlog__embed-description {
    color: #737f8d;
}

.chatlog__embed-field-name {
    color: #36393e;
}

.chatlog__embed-field-value {
    color: #737f8d;
}

.chatlog__embed-footer {
    color: rgba(79, 83, 91, 0.4);
}

.chatlog__reaction {
    background-color: rgba(79, 84, 92, 0.06);
}

.chatlog__reaction-count {
    color: #99aab5;
}