body {
    background-color: #36393E;
    color: rgba(255, 255, 255, 0.7);
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

a {
    color: #0096CF;
    text-decoration: none;
}

a:hover { text-decoration: underline; }

div.pre {
    background-color: #2F3136;
    color: rgb(131, 148, 150);
    font-family: Consolas, Courier New, Courier, Monospace;
    margin-top: 4px;
    padding: 8px;
    white-space: pre-wrap;
}

span.pre {
    background-color: #2F3136;
    font-family: Consolas, Courier New, Courier, Monospace;
    padding-left: 2px;
    padding-right: 2px;
    white-space: pre-wrap;
}

div#info {
    display: flex;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 100%;
}

div#log { max-width: 100%; }

img.guild-icon {
    max-height: 64px;
    max-width: 64px;
}

div.info-right {
    flex: 1;
    margin-left: 10px;
}

div.guild-name {
    color: #FFFFFF;
    font-size: 1.4rem;
}

div.channel-name {
    color: #FFFFFF;
    font-size: 1.2rem;
}

div.misc { margin-top: 2px; }

div.msg {
    border-top: 1px solid rgba(255, 255, 255, 0.04);
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

div.msg-left {
    height: 40px;
    width: 40px;
}

img.msg-avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

div.msg-right {
    flex: 1;
    margin-left: 20px;
}

span.msg-user {
    color: #FFFFFF;
    font-size: 1rem;
}

span.msg-date {
    color: rgba(255, 255, 255, 0.2);
    font-size: .75rem;
    margin-left: 5px;
}

span.msg-edited {
    color: rgba(255, 255, 255, 0.2);
    font-size: .8rem;
    margin-left: 5px;
}

div.msg-content {
    font-size: .9375rem;
    padding-top: 5px;
    word-break: break-all;
}

div.msg-attachment {
    margin-bottom: 5px;
    margin-top: 5px;
}

img.msg-attachment {
    max-height: 500px;
    max-width: 50%;
}

img.emoji {
    height: 24px;
    width: 24px;
    vertical-align: -.4em;
}

span.mention {
    font-weight: 600;
}