<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ Model.Guild.Name | html.escape }} - {{ Model.Channel.Name | html.escape }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style>
        {{ include "HtmlShared.Main.css" }}
    </style>
    <style>
        {{ ThemeStyleSheet }}
    </style>
</head>
<body>
    
{{~ # Info ~}}
<div class="info">
    <div class="info__guild-icon-container">
        <img class="info__guild-icon" src="{{ Model.Guild.IconUrl }}" />
    </div>
    <div class="info__metadata">
        <div class="info__guild-name">{{ Model.Guild.Name | html.escape }}</div>
        <div class="info__channel-name">{{ Model.Channel.Name | html.escape }}</div>
        
        {{~ if Model.Channel.Topic ~}}
            <div class="info__channel-topic">{{ Model.Channel.Topic | html.escape }}</div>
        {{~ end ~}}

        <div class="info__channel-message-count">{{ Model.Messages | array.size | Format "N0" }} messages</div>
        
        {{~ if Model.From || Model.To ~}}
            <div class="info__channel-date-range">
                {{~ if Model.From && Model.To ~}}
                    Between {{ Model.From | FormatDate | html.escape }} and {{ Model.To | FormatDate | html.escape }}
                {{~ else if Model.From ~}}
                    After {{ Model.From | FormatDate | html.escape }}
                {{~ else if Model.To ~}}
                    Before {{ Model.To | FormatDate | html.escape }}
                {{~ end ~}}
            </div>
        {{~ end ~}}
    </div>
</div>

{{~ # Log ~}}
<div class="chatlog">
    {{~ for group in Model.Messages | GroupMessages ~}}
        <div class="chatlog__message-group">
            {{~ # Avatar ~}}
            <div class="chatlog__author-avatar-container">
                <img class="chatlog__author-avatar" src="{{ group.Author.AvatarUrl }}" />
            </div>            
            <div class="chatlog__messages">
                {{~ # Author name and timestamp ~}}
                <span class="chatlog__author-name" title="{{ group.Author.FullName | html.escape }}">{{ group.Author.Name | html.escape }}</span>
                <span class="chatlog__timestamp">{{ group.Timestamp | FormatDate | html.escape }}</span>

                {{~ # Messages ~}}
                {{~ for message in group.Messages ~}}
                    {{~ # Content ~}}
                    {{~ if message.Content ~}}
                        <div class="chatlog__content">
                            <span class="markdown">{{ message.Content | FormatMarkdown }}</span>

                            {{~ # Edited timestamp ~}}
                            {{~ if message.EditedTimestamp ~}}
                                <span class="chatlog__edited-timestamp" title="{{ message.EditedTimestamp | FormatDate | html.escape }}">(edited)</span>
                            {{~ end ~}}
                        </div>
                    {{~ end ~}}

                    {{~ # Attachments ~}}
                    {{~ for attachment in message.Attachments ~}}
                        <div class="chatlog__attachment">
                            <a href="{{ attachment.Url }}">
                                {{ # Image }}
                                {{~ if attachment.IsImage ~}}
                                    <img class="chatlog__attachment-thumbnail" src="{{ attachment.Url }}" />
                                {{~ # Non-image ~}}
                                {{~ else ~}}
                                    Attachment: {{ attachment.FileName }} ({{ attachment.FileSize }})
                                {{~ end ~}}
                            </a>
                        </div>
                    {{~ end ~}}

                    {{~ # Embeds ~}}
                    {{~ for embed in message.Embeds ~}}
                        <div class="chatlog__embed">
                            <div class="chatlog__embed-color-pill" style="background-color: rgba({{ embed.Color.R }},{{ embed.Color.G }},{{ embed.Color.B }},{{ embed.Color.A }})"></div>
                            <div class="chatlog__embed-content-container">
                                <div class="chatlog__embed-content">
                                    <div class="chatlog__embed-text">
                                        {{~ # Author ~}}
                                        {{~ if embed.Author ~}}
                                            <div class="chatlog__embed-author">
                                                {{~ if embed.Author.IconUrl ~}}
                                                    <img class="chatlog__embed-author-icon" src="{{ embed.Author.IconUrl }}" />
                                                {{~ end ~}}

                                                {{~ if embed.Author.Name ~}}
                                                    <span class="chatlog__embed-author-name">
                                                        {{~ if embed.Author.Url ~}}
                                                            <a class="chatlog__embed-author-name-link" href="{{ embed.Author.Url }}">{{ embed.Author.Name | html.escape }}</a>
                                                        {{~ else ~}}
                                                            {{ embed.Author.Name | html.escape }}
                                                        {{~ end ~}}
                                                    </span>
                                                {{~ end ~}}
                                            </div>
                                        {{~ end ~}}

                                        {{~ # Title ~}}
                                        {{~ if embed.Title ~}}
                                            <div class="chatlog__embed-title">
                                                {{~ if embed.Url ~}}
                                                    <a class="chatlog__embed-title-link" href="{{ embed.Url }}"><span class="markdown">{{ embed.Title | FormatMarkdown }}</span></a>
                                                {{~ else ~}}
                                                    <span class="markdown">{{ embed.Title | FormatMarkdown }}</span>
                                                {{~ end ~}}
                                            </div>
                                        {{~ end ~}}

                                        {{~ # Description ~}}
                                        {{~ if embed.Description ~}}
                                        <div class="chatlog__embed-description"><span class="markdown">{{ embed.Description | FormatMarkdown }}</span></div>
                                        {{~ end ~}}

                                        {{~ # Fields ~}}
                                        {{~ if embed.Fields | array.size > 0 ~}}
                                            <div class="chatlog__embed-fields">
                                                {{~ for field in embed.Fields ~}}
                                                    <div class="chatlog__embed-field {{ if field.IsInline }} chatlog__embed-field--inline {{ end }}">
                                                        {{~ if field.Name ~}}
                                                            <div class="chatlog__embed-field-name"><span class="markdown">{{ field.Name | FormatMarkdown }}</span></div>
                                                        {{~ end ~}}
                                                        {{~ if field.Value ~}}
                                                            <div class="chatlog__embed-field-value"><span class="markdown">{{ field.Value | FormatMarkdown }}</span></div>
                                                        {{~ end ~}}
                                                    </div>
                                                {{~ end ~}}
                                            </div>
                                        {{~ end ~}}
                                    </div>

                                    {{~ # Thumbnail ~}}
                                    {{~ if embed.Thumbnail ~}}
                                        <div class="chatlog__embed-thumbnail-container">
                                            <a class="chatlog__embed-thumbnail-link" href="{{ embed.Thumbnail.Url }}">
                                                <img class="chatlog__embed-thumbnail" src="{{ embed.Thumbnail.Url }}" />
                                            </a>
                                        </div>
                                    {{~ end ~}}
                                </div>    

                                {{~ # Image ~}} 
                                {{~ if embed.Image ~}}
                                    <div class="chatlog__embed-image-container">
                                        <a class="chatlog__embed-image-link" href="{{ embed.Image.Url }}">
                                            <img class="chatlog__embed-image" src="{{ embed.Image.Url }}" />
                                        </a>
                                    </div>
                                {{~ end ~}}

                                {{~ # Footer ~}}
                                {{~ if embed.Footer || embed.Timestamp ~}}
                                    <div class="chatlog__embed-footer">
                                        {{~ if embed.Footer ~}}
                                            {{~ if embed.Footer.Text && embed.Footer.IconUrl ~}}
                                                <img class="chatlog__embed-footer-icon" src="{{ embed.Footer.IconUrl }}" />
                                            {{~ end ~}}
                                        {{~ end ~}}
                                        
                                        <span class="chatlog__embed-footer-text">
                                            {{~ if embed.Footer ~}}
                                                {{~ if embed.Footer.Text ~}}
                                                    {{ embed.Footer.Text | html.escape }}
                                                    {{ if embed.Timestamp }} • {{ end }}
                                                {{~ end ~}}
                                            {{~ end ~}}

                                            {{~ if embed.Timestamp ~}}
                                                {{ embed.Timestamp | FormatDate | html.escape }}
                                            {{~ end ~}}
                                        </span>
                                    </div>
                                {{~ end ~}}
                            </div>
                        </div>
                    {{~ end ~}}

                    {{~ # Reactions ~}}
                    {{~ if message.Reactions | array.size > 0 ~}}
                        <div class="chatlog__reactions">
                            {{~ for reaction in message.Reactions ~}}
                                <div class="chatlog__reaction">
                                    <img class="emoji emoji--small" title="{{ reaction.Emoji.Name }}" src="{{ reaction.Emoji.ImageUrl }}" />
                                    <span class="chatlog__reaction-count">{{ reaction.Count }}</span>
                                </div>
                            {{~ end ~}}
                        </div>
                    {{~ end ~}}
                {{~ end ~}}
            </div>
        </div>
    {{~ end ~}}
</div>

</body>
</html>