/* === GENERAL === */

body {
    font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    object-fit: contain;
}

.markdown {
    white-space: pre-wrap;
    line-height: 1.3;
    overflow-wrap: break-word;
}

.spoiler {
    border-radius: 3px;
}

.pre {
    font-family: "Consolas", "Courier New", Courier, Monospace;
}

.pre--multiline {
    margin-top: 4px;
    padding: 8px;
    border: 2px solid;
    border-radius: 5px;    
}

.pre--inline {
    padding: 2px;
    border-radius: 3px;
}

.mention {
    font-weight: 500;
}

.emoji {
    width: 1.45em;
    height: 1.45em;
    margin: 0 1px;
    vertical-align: -0.4em;
}

.emoji--small {
    width: 1rem;
    height: 1rem;
}

.emoji--large {
    width: 2rem;
    height: 2rem;
}

/* === INFO === */

.info {
    display: flex;
    max-width: 100%;
    margin: 0 5px 10px 5px;    
}

.info__guild-icon-container {
    flex: 0;
}

.info__guild-icon {
    max-width: 88px;
    max-height: 88px;
}

.info__metadata {
    flex: 1;
    margin-left: 10px;
}

.info__guild-name {
    font-size: 1.4em;
}

.info__channel-name {
    font-size: 1.2em;
}

.info__channel-topic {
    margin-top: 2px;
}

.info__channel-message-count {
    margin-top: 2px;
}

.info__channel-date-range {
    margin-top: 2px;
}

/* === CHATLOG === */

.chatlog {
    max-width: 100%;
}

.chatlog__message-group {
    display: flex;
    margin: 0 10px;
    padding: 15px 0;
    border-top: 1px solid;
}

.chatlog__author-avatar-container {
    flex: 0;
    width: 40px;
    height: 40px;
}

.chatlog__author-avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.chatlog__messages {
    flex: 1;
    min-width: 50%;
    margin-left: 20px;
}

.chatlog__author-name {
    font-size: 1em;
    font-weight: 500;
}

.chatlog__timestamp {
    margin-left: 5px;
    font-size: .75em;
}

.chatlog__content {
    padding-top: 5px;
    font-size: .9375em;
    word-wrap: break-word;
}

.chatlog__edited-timestamp {
    margin-left: 3px;
    font-size: .8em;
}

.chatlog__attachment {
    margin: 5px 0;
}

.chatlog__attachment-thumbnail {
    max-width: 50%;
    max-height: 500px;
    border-radius: 3px;
}

.chatlog__embed {
    display: flex;
    max-width: 520px;
    margin-top: 5px;
}

.chatlog__embed-color-pill {
    flex-shrink: 0;
    width: 4px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.chatlog__embed-content-container {
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    border: 1px solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.chatlog__embed-content {
    width: 100%;
    display: flex;
}

.chatlog__embed-text {
    flex: 1;
}

.chatlog__embed-author {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.chatlog__embed-author-icon {
    width: 20px;
    height: 20px;
    margin-right: 9px;
    border-radius: 50%;
}

.chatlog__embed-author-name {
    font-size: .875em;
    font-weight: 600;
}

.chatlog__embed-title {
    margin-bottom: 4px;
    font-size: .875em;
    font-weight: 600;
}

.chatlog__embed-description {
    font-weight: 500;
    font-size: 14px;
}

.chatlog__embed-fields {
    display: flex;
    flex-wrap: wrap;
}

.chatlog__embed-field {
    flex: 0;
    min-width: 100%;
    max-width: 506px;
    padding-top: 10px;
}

.chatlog__embed-field--inline {
    flex: 1;
    flex-basis: auto;
    min-width: 150px;
}

.chatlog__embed-field-name {
    margin-bottom: 4px;
    font-size: .875em;
    font-weight: 600;
}

.chatlog__embed-field-value {
    font-size: .875em;
    font-weight: 500;
}

.chatlog__embed-thumbnail {
    flex: 0;
    margin-left: 20px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 3px;
}

.chatlog__embed-image-container {
    margin-top: 10px;
}

.chatlog__embed-image {    
    max-width: 500px;
    max-height: 400px;
    border-radius: 3px;
}

.chatlog__embed-footer {
    margin-top: 10px;
}

.chatlog__embed-footer-icon {
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.chatlog__embed-footer-text {
    font-weight: 600;
    font-size: .75em;
}

.chatlog__reactions {
    display: flex;
}

.chatlog__reaction {
    display: flex;
    align-items: center;
    margin: 6px 2px 2px 2px;
    padding: 3px 6px;
    border-radius: 3px;
}

.chatlog__reaction-count {
    min-width: 9px;
    margin-left: 6px;
    font-size: .875em;
}