body {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;

    background-color: #36393E;
}

a {
    text-decoration: none;

    color: #0096CF;
}

a:hover {
    text-decoration: underline;
}

div.pre, span.pre {
    font-family: Consolas, Courier New, Courier, Monospace;

    padding-right: 2px;
    padding-left: 2px;

    background-color: #2F3136;
}

div#info {
    max-width: 100%;
    margin-bottom: 20px;

    color: rgba(255, 255, 255, 0.7);
}

div#log {
    max-width: 100%;
}

div.msg {
    display: flex;

    margin-right: 10px;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

    border-top: 1px solid rgba(255, 255, 255, 0.04);
}

div.msg-avatar {
    width: 40px;
    height: 40px;
}

img.msg-avatar {
    width: 40px;
    height: 40px;

    border-radius: 50%;
}

div.msg-body {
    margin-left: 20px;

    flex: 1;
}

span.msg-user {
    font-size: 1rem;

    color: #FFFFFF;
}

span.msg-date {
    font-size: .75rem;

    margin-left: 5px;

    color: rgba(255, 255, 255, 0.2);
}

span.msg-edited {
    font-size: .8rem;

    margin-left: 5px;

    color: rgba(255, 255, 255, 0.2);
}

div.msg-content {
    font-size: .9375rem;

    padding-top: 5px;

    color: rgba(255, 255, 255, 0.7);
}

div.msg-attachment {
    margin-top: 5px;
    margin-bottom: 5px;
}

img.msg-attachment {
    max-width: 50%;
    max-height: 500px;
}
